body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#navigation_header {
  border-bottom: medium solid black;
  background-image: url('/images/clients-header.jpg');
  height: 70px;
}

#user_options {
	text-align: right;
	font-size: large;
}

#patient_link {
	text-align:left;
	font-size: large;
}

td {
	margin-left: auto;
	margin-right: auto;
}

#login_box {
	margin-left: auto;
	border: medium solid black;
	width: 330px;
	margin-right: auto;
}
#login_felids {
	padding-left: 30px;
}
#login_page {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	
}

